@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:700,600,200,300,800,500,400|Inter:400|Montserrat:700|Roboto:700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/66fddc0e3401717f55be2573.66fddc0f3401717f55be2579.A1l4UfV.hcp.png");

@media (max-width: 600px) {
  body {
    font-size: 14px; /* Adjust font size */
  }
  .container {
    width: 100%; /* Full width on mobile */
  }
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
