/* screen - signs */

.signs {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5704px;
  width: 1728px;
}

.signs .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 48px;
  min-height: 878px;
  width: 1727px;
}

.signs .component-17 {
  align-items: flex-start;
  cursor: pointer;
  margin-left: 56.0px;
}

.signs .overlap-group {
  height: 80px;
  position: relative;
  width: 1539px;
}

.signs .component-16 {
  align-items: center;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
}

.signs .image-6 {
  align-self: flex-start;
  height: 69px;
  object-fit: cover;
  width: 69px;
}

.signs .printontario {
  align-self: flex-start;
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 13px;
  margin-top: -1px;
  min-height: 55px;
  white-space: nowrap;
  width: 292px;
}

.signs .span0 {
  color: var(--black);
  font-weight: 600;
}

.signs .span1 {
  color: var(--bay-of-many);
  font-weight: 300;
}

.signs .group-47 {
  display: flex;
  height: 25px;
  margin-bottom: 14.0px;
  margin-left: 163px;
  width: 74px;
}

.signs .place {
  flex: 1;
  width: 74px;
}

.signs .signs-banners-posters {
  align-self: flex-end;
  display: flex;
  height: 63px;
  margin-bottom: 2px;
  margin-left: 184px;
  width: 179px;
}

.signs .signs-banners-posters-1 {
  flex: 1;
  text-align: center;
  width: 179px;
}

.signs .promotional-products {
  align-self: flex-end;
  display: flex;
  height: 63px;
  margin-bottom: 2px;
  margin-left: 30px;
  width: 157px;
}

.signs .x-products {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 157px;
}

.signs .real-estate-products {
  display: flex;
  height: 59px;
  margin-left: 38px;
  margin-top: 3.0px;
  width: 157px;
}

.signs .contact-us {
  display: flex;
  height: 28px;
  margin-bottom: 22.0px;
  margin-left: 30px;
  width: 144px;
}

.signs .contact-us-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 144px;
}

.signs .business-card {
  display: flex;
  height: 63px;
  left: 644px;
  position: absolute;
  top: 15px;
  width: 112px;
}

.signs .business-card {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 112px;
}

.signs .brown-minimalist-hom {
  cursor: pointer;
  height: 567px;
  margin-top: 26px;
  width: 1727px;
}

.signs .title {
  color: var(--bay-of-many);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 100px;
  min-height: 64px;
  width: 660px;
}

.signs .spread-the-word-with {
  color: var(--bay-of-many);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 5px;
  min-height: 36px;
  text-align: center;
  width: 938px;
}

.signs .flex-row {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  gap: 32px;
  height: 3778px;
  margin-right: 33.0px;
  margin-top: 92px;
  min-width: 1525px;
}

.signs .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 19px;
  height: 3773px;
  min-width: 1019px;
}

.signs .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 3773px;
  width: 504px;
}

.signs .f-lables {
  align-self: flex-end;
  background-image: url(../img/image-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 478px;
  justify-content: flex-end;
  margin-right: 7px;
  min-width: 473px;
  padding: 17px 16.8px;
}

.signs .refresh {
  height: 60px;
  width: 59px;
}

.signs .custom-labels {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 25px;
  margin-top: 12px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-door-h {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/hand-drawn-disturb-label-illustration-23-2150310402.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  margin-right: 1px;
  margin-top: 121px;
  min-width: 479px;
  padding: 17px;
}

.signs .refresh-1 {
  height: 60px;
  width: 60px;
}

.signs .door-hangers {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 25px;
  margin-top: 16px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-tag {
  align-self: flex-end;
  justify-content: flex-end;
  margin-right: 1px;
  margin-top: 137px;
  min-width: 479px;
}

.signs .overlap-group5 {
  align-items: flex-start;
  background-image: url(../img/image-45.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 478px;
  padding: 17px;
}

.signs .flex-col-item {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 25px;
  margin-top: 22px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-w-card {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 117px;
  min-width: 479px;
}

.signs .overlap-group4 {
  align-items: flex-start;
  background-image: url(../img/minimal-wedding-card-23-2148811364-1.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 478px;
  padding: 17px 16px;
}

.signs .rectangle-117 {
  align-self: flex-end;
  margin-right: 7px;
  margin-top: 118px;
  object-fit: cover;
}

.signs .signicade {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 24px;
  margin-top: 22px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-lawn-signs {
  border-radius: 10px;
  display: flex;
  height: 478px;
  margin-top: 110px;
  width: 473px;
}

.signs .frame-4 {
  align-items: flex-start;
  background-image: url(../img/frame-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 473px;
}

.signs .overlap-group-1 {
  background-image: url(../img/image-9.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 478px;
  justify-content: flex-end;
  min-width: 473px;
  padding: 28px 25px;
}

.signs .lawn-signs {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 20px;
  margin-top: 22px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 3773px;
  width: 496px;
}

.signs .f-pull-up {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/image-1.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 479px;
  padding: 0 3px;
}

.signs .overlap-group10 {
  align-items: flex-start;
  background-image: url(../img/rectangle-120.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 473px;
  padding: 17px 14px;
}

.signs .pull-up-banner {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 19px;
  margin-top: 12px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-lables-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 2px;
  margin-top: 121px;
  min-width: 479px;
}

.signs .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/image-4.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 478px;
  padding: 17px 16px;
}

.signs .menu-card {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 29px;
  margin-top: 17px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-postvcard {
  align-self: flex-end;
  margin-right: 2px;
  margin-top: 136px;
  min-width: 479px;
  padding: 0 3px;
}

.signs .overlap-group3 {
  align-items: flex-start;
  background-image: url(../img/rectangle-125.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 473px;
  padding: 17px 14px;
}

.signs .postcards {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 29px;
  margin-top: 22px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-bs-card {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 2px;
  margin-top: 134px;
  min-width: 479px;
  padding: 0 3px;
}

.signs .overlap-group6 {
  align-items: flex-start;
  background-image: url(../img/retro-wedding-card-with-floral-wreath-23-2147687195.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 473px;
  padding: 17px 14px;
}

.signs .bridal-shower-invites {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 29px;
  margin-top: 5px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .arrow-signage_23-2147501808 {
  align-self: flex-end;
  height: 478px;
  margin-right: 3px;
  margin-top: 118px;
  object-fit: cover;
  width: 473px;
}

.signs .dimensional-signs {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 22px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-flags {
  align-self: flex-end;
  margin-right: 3px;
  margin-top: 120px;
  min-width: 473px;
}

.signs .overlap-group12 {
  background-image: url(../img/featherflag2-1-1@2x.png);
  background-size: 100% 100%;
  height: 478px;
  position: relative;
  width: 479px;
}

.signs .refresh-2 {
  height: 60px;
  left: 382px;
  position: absolute;
  top: 34px;
  width: 60px;
}

.signs .rectangle-122 {
  border: 1px solid;
  border-color: var(--masala);
  border-radius: 10px;
  left: 0;
  position: absolute;
  top: 0;
}

.signs .flags {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 29px;
  margin-top: 12px;
  min-height: 31px;
  white-space: nowrap;
}
.signs .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 3773px;
  width: 496px; /* Ensure same width as flex-col-2 */
  margin-left: 0; /* Reset any extra margin */
}


.signs .f-qr-lables {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  min-width: 473px;
}

.signs .overlap-group8 {
  align-items: flex-start;
  background-image: url(../img/image-2.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 472px;
  padding: 17px 15.8px;
}

.signs .qr-scan-stickers {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 24px;
  margin-top: 17px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-b-card {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-top: 121px;
  min-width: 473px;
}

.signs .overlap-group9 {
  align-items: flex-start;
  background-image: url(../img/image-44.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 472px;
  padding: 17px 16.8px;
}

.signs .birthday-invites {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4px;
  margin-top: 12px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-flyer {
  background-image: url(../img/hand-drawn-disturb-label-illustration-23-2150310402-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 478px;
  justify-content: flex-end;
  margin-left: 1px;
  margin-top: 134px;
  min-width: 473px;
  padding: 17px 16.8px;
}

.signs .flyers {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 10px;
  margin-top: 25px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-thank-card {
  align-items: flex-start;
  display: flex;
  margin-top: 121px;
  min-width: 473px;
  padding: 0 3.0px;
}

.signs .overlap-group7 {
  align-items: flex-start;
  background-image: url(../img/image-3.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 467px;
  padding: 17px 13.8px;
}

.signs .thank-you-cards {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 24px;
  margin-top: 22px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .f-pull-up-1 {
  align-items: flex-start;
  background-image: url(../img/image-1.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-left: 1px;
  margin-top: 118px;
  min-width: 473px;
  padding: 0 3.0px;
}

.signs .overlap-group11 {
  align-items: flex-start;
  background-image: url(../img/rectangle-120.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 478px;
  justify-content: flex-end;
  min-width: 467px;
  padding: 17px 13.8px;
}

.signs .pull-up-banner-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 3px;
  margin-top: 22px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .rectangle-121 {
  margin-left: 1px;
  margin-top: 120px;
  object-fit: cover;
}

.signs .a-frames {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 11px;
  margin-top: 12px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .we-respect-your-dedl {
  color: #d88d1c;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 41.0px;
  margin-top: 163px;
  min-height: 162px;
  text-align: center;
  width: 1095px;
}

.signs .frame-14 {
  display: flex;
  justify-content: space-between; /* Ensures equal spacing */
  align-items: center;
  flex-wrap: wrap; /* Makes it responsive */
  background: linear-gradient(180deg, rgba(32, 51, 134, 0.5) 0%, rgba(201, 206, 227, 0.5) 100%);
  padding: 40px 60px;
  width: 100%; /* Ensures it takes the full width */
  height: auto; /* Adjusts height based on content */
  position: absolute;
  top: 5400px;
  width: 1728px;

}

.signs .flex-col-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto;
   gap: 9px;
  display: flex;
  flex-direction: column;

}

.signs .image-7 {
  height: 110px;
  width: 100px;
  object-fit: cover;
  margin-top: 38px;
}

.signs .infoprintontariocom {
  text-align: center;
  margin-top: 5px;
}

.signs .text-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 31.0px;
  margin-top: 5px;
  min-height: 126px;
  min-width: 202px;
}

.signs .flex-col-5 {
margin-bottom: 4.0px;
  margin-left: 300px;
  min-height: 150px;
  width: auto;
  gap: 7px;
  display: flex;
  flex-direction: column;

}

.signs .social {
 letter-spacing: 0;
  line-height: normal;
  min-height: 46px;
  width: 113px;
}

.signs .facebook {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 18px;
  min-height: 31px;
  width: 165px;
}

.signs .instagram {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  width: 165px;
}

.signs .pinterest {
   letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  width: 165px;
}

.signs .tik-tok {
   letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  width: 165px;
}

.signs .flex-col-6 {
 margin-left: 85px;
  min-height: 229px;
  width: 295px;
  gap: 7px;
  display: flex;
  flex-direction: column;
}

.signs .place-1 {
  cursor: pointer;
  margin-top: 4px;
  min-height: 27px;
  white-space: nowrap;
}

.signs .business-card-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 26px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .signs-banners-posters-2 {
  cursor: pointer;
  margin-top: 8px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .promotional-products-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  white-space: nowrap;
}

.signs .real-estate-products-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  width: 250px;
}

.signs .flex-col-7 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  margin-top: 37px;
  min-height: 160px;
  width: 269px;
  gap: 7px;
  display: flex;
  flex-direction: column;
}

.signs .company {
  letter-spacing: 0;
  line-height: normal;
  min-height: 40px;
  width: 183px;
}

.signs .about-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 14px;
  min-height: 27px;
  white-space: nowrap;
}

.signs .shipping-and-returns {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 27px;
  white-space: nowrap;
}

.signs .payment-methods {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 10px;
  min-height: 36px;
  width: 269px;
}

.signs .group-54 {
  align-items: flex-start;
  display: flex;
  min-width: 1728px;
}

.signs .overlap-group1 {
  height: 83px;
  position: relative;
  width: 1728px;
}

.signs .overlap-group-2 {
  background-color: var(--white);
  gap: 648px;
  height: 83px;
  left: 0;
  min-width: 1728px;
  padding: 18px 128px;
  position: absolute;
  top: 0;
}

.signs .all-rights-reserved {
  align-self: center;
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 13px;
  white-space: nowrap;
  width: 430px;
}

.signs .span0-1 {
  color: var(--black);
}

.signs .span1-1 {
  color: #427df0;
}

.signs .group-43 {
  display: flex;
  gap: 72px;
  width: 162px;
}

.signs .group-43-item {
  height: 45px;
  width: 45px;
}

.signs .tik-tok-1 {
  height: 45px;
  left: 1545px;
  position: absolute;
  top: 18px;
  width: 45px;
}

.signs .pinterest-1 {
  height: 45px;
  left: 1433px;
  position: absolute;
  top: 18px;
  width: 45px;
}

.signs .component {
  display: flex;
  min-width: 1539px;
}

.signs .f {
  align-items: flex-start;
  display: flex;
}

.signs .overlap-group-3 {
  align-items: flex-start;
  display: flex;
}

.signs .place-2 {
  letter-spacing: 0;
  line-height: normal;
}

.signs .rectangle {
  height: 478px;
  width: 473px;
}

.signs .signs-banners-posters-3 {
  letter-spacing: 0;
  line-height: normal;
}
