:root { 
  --bay-of-many: #203386;
  --black: #000000;
  --geebung: #d88d1c;
  --masala: #3c3c3c;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 14px;
  --font-size-xl: 30px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 64px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-bold-masala-32px {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.poppins-light-masala-20px {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.poppins-medium-bay-of-many-24px {
  color: var(--bay-of-many);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-masala-32px {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.poppins-normal-masala-20px {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-semi-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.poppins-light-white-24px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.poppins-light-masala-32px {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}

.poppins-extra-light-masala-20px {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 200;
}

.poppins-semi-bold-bay-of-many-40px {
  color: var(--bay-of-many);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
}

.poppins-light-masala-30px {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}
