/* screen - real-esate */

.real-esate {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5094px;
  width: 1728px;
}

.real-esate .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  min-height: 2433px;
  width: 1728px;
}

.real-esate .component-17 {
  align-items: flex-start;
  cursor: pointer;
  margin-left: 55.0px;
}

.real-esate .overlap-group7 {
  height: 80px;
  position: relative;
  width: 1539px;
}

.real-esate .component-16 {
  align-items: center;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
}

.real-esate .image-6 {
  align-self: flex-start;
  height: 69px;
  object-fit: cover;
  width: 69px;
}

.real-esate .printontario {
  align-self: flex-start;
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 13px;
  margin-top: -1px;
  min-height: 55px;
  white-space: nowrap;
  width: 292px;
}

.real-esate .span0 {
  color: var(--black);
  font-weight: 600;
}

.real-esate .span1 {
  color: var(--bay-of-many);
  font-weight: 300;
}

.real-esate .group-47 {
  display: flex;
  height: 36px;
  margin-bottom: 14.0px;
  margin-left: 163px;
  width: 74px;
}

.real-esate .place {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  width: 74px;
}

.real-esate .signs-banners-posters {
  align-self: flex-end;
  display: flex;
  height: 63px;
  margin-bottom: 2px;
  margin-left: 184px;
  width: 179px;
}

.real-esate .signs-banners-posters-1 {
  flex: 1;
  text-align: center;
  width: 179px;
}

.real-esate .promotional-products {
  align-self: flex-end;
  display: flex;
  height: 63px;
  margin-bottom: 2px;
  margin-left: 30px;
  width: 157px;
}

.real-esate .x-products {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 157px;
}

.real-esate .real-estate-products {
  display: flex;
  height: 59px;
  margin-left: 38px;
  margin-top: 3.0px;
  width: 157px;
}

.real-esate .contact-us {
  display: flex;
  height: 28px;
  margin-bottom: 22.0px;
  margin-left: 30px;
  width: 144px;
}

.real-esate .contact-us-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  width: 144px;
}

.real-esate .business-card {
  display: flex;
  height: 63px;
  left: 644px;
  position: absolute;
  top: 15px;
  width: 112px;
}

.real-esate .business-card {
  flex: 1;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 112px;
}

.real-esate .overlap-group9 {
  align-items: flex-end;
  background-image: url(../img/brandi-redd-ajtiw00qqti-unsplash-1.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  min-height: 567px;
  padding: 111px 52px;
  width: 1728px;
}

.real-esate .real-estate-products-1 {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: 64px;
  font-weight: 700;
  min-height: 100px;
  width: 773px;
}

.real-esate .a-partnership-for-success {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 15px;
  min-height: 54px;
  width: 457px;
}

.real-esate .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 17px;
  height: 264px;
  margin-right: 15.0px;
  margin-top: 105px;
  min-width: 1357px;
}

.real-esate .looking-for-real-estate-package {
  color: var(--bay-of-many);
  font-family: var(--font-family-poppins);
  font-size: 64px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 19px;
  min-height: 165px;
  width: 773px;
}

.real-esate .title {
  color: var(--geebung);
  font-family: var(--font-family-poppins);
  font-size: 96px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  min-height: 264px;
  width: 567px;
}

.real-esate .group-15 {
  display: flex;
  height: 1102px;
  margin-top: 103px;
  width: 1370px;
}

.real-esate .group-11 {
  align-items: flex-start;
  display: flex;
  height: 1045px;
  margin-top: 50px;
  min-width: 319px;
}

.real-esate .overlap-group {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  margin-top: -1px;
  min-height: 1047px;
  padding: 18px 9px;
  width: 303px;
}

.real-esate .basic {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 77px;
}

.real-esate .inexpensive-yet-effective {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 16.0px;
  margin-top: 11px;
  min-height: 25px;
  text-align: center;
  width: 201px;
}

.real-esate .price {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4.0px;
  margin-top: 28px;
  min-height: 65px;
  text-align: center;
  white-space: nowrap;
  width: 161px;
}

.real-esate .overlap-group1 {
  align-items: flex-start;
  background-color: var(--bay-of-many);
  border-radius: 10px;
  display: flex;
  height: 31px;
  justify-content: flex-end;
  margin-left: 6.0px;
  margin-top: 38px;
  min-width: 249px;
  padding: 2px 74px;
}

.real-esate .get-now {
  letter-spacing: 0;
  line-height: normal;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 100px;
}

.real-esate .basic-included {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  margin-top: 27px;
  min-height: 20px;
  text-align: center;
  width: 137px;
}

.real-esate .flex-row-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 12px;
  height: 46px;
  margin-top: 24px;
  min-width: 267px;
}

.real-esate .done {
  height: 15px;
  margin-top: 5px;
  width: 17px;
}

.real-esate .address-3 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 46px;
  width: 238px;
}

.real-esate .flex-row-2 {
  align-items: flex-start;
  display: flex;
  gap: 13px;
  height: 103px;
  margin-right: 11.0px;
  margin-top: 11px;
  min-width: 240px;
}

.real-esate .done-1 {
  height: 15px;
  margin-top: 13px;
  width: 17px;
}

.real-esate .address-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 103px;
  width: 210px;
}

.real-esate .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 57px;
  margin-left: 2.0px;
  margin-top: 16px;
  min-width: 253px;
}

.real-esate .done-2 {
  height: 15px;
  margin-top: 8px;
  width: 17px;
}

.real-esate .address-5 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 57px;
  width: 226px;
}

.real-esate .flex-row-4 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 76px;
  margin-left: 2.0px;
  margin-top: 7px;
  min-width: 253px;
}

.real-esate .address-6 {
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 76px;
  width: 226px;
}

.real-esate .span-1 {
  color: var(--masala);
}

.real-esate .span1-1 {
  color: var(--masala);
  font-weight: 700;
}

.real-esate .span2 {
  color: var(--bay-of-many);
  font-weight: 700;
}

.real-esate .group-12 {
  align-items: flex-start;
  display: flex;
  height: 1047px;
  margin-left: 35px;
  margin-top: 49px;
  min-width: 321px;
}

.real-esate .flex-col-1 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 15px;
  gap: 24px;
  margin-left: -1px;
  margin-top: -1px;
  min-height: 1049px;
  padding: 21px 4px;
  width: 303px;
}

.real-esate .flex-col-2 {
  align-items: center;
  min-height: 262px;
  width: 284px;
}

.real-esate .place-1 {
  margin-right: 10.0px;
  min-height: 18px;
  text-align: center;
  width: 100px;
}

.real-esate .enhance-your-marketing-strategy {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 11px;
  min-height: 25px;
  text-align: center;
  width: 284px;
}

.real-esate .price-1 {
  margin-left: 17.0px;
  margin-top: 27px;
  width: 173px;
}

.real-esate .overlap-group3 {
  align-items: flex-end;
  background-color: var(--bay-of-many);
  border-radius: 10px;
  display: flex;
  height: 31px;
  margin-right: 7.0px;
  margin-top: 37px;
  min-width: 249px;
  padding: 1px 73px;
}

.real-esate .get-now-1 {
  min-height: 27px;
  width: 92px;
}

.real-esate .everything-in-basic-plus {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 15px;
  margin-top: 28px;
  min-height: 20px;
  text-align: center;
  width: 169px;
}

.real-esate .flex-row-5 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 497px;
  margin-right: 6px;
  min-width: 267px;
}

.real-esate .done-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  min-height: 441px;
  width: 17px;
}

.real-esate .done-3 {
  height: 15px;
  width: 17px;
}

.real-esate .done-7 {
  height: 15px;
  margin-top: 81px;
  width: 17px;
}

.real-esate .done-8 {
  height: 15px;
  margin-top: 99px;
  width: 17px;
}

.real-esate .done-4 {
  height: 15px;
  margin-top: 103px;
  width: 17px;
}

.real-esate .done-5 {
  height: 15px;
  margin-top: 83px;
  width: 17px;
}

.real-esate .flex-col-3 {
  align-items: flex-start;
  min-height: 497px;
  width: 240px;
}

.real-esate .address-container {
  height: 191px;
  margin-left: 2px;
  position: relative;
  width: 238px;
}

.real-esate .address-7 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 238px;
}

.real-esate .address-8 {
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 88px;
  width: 210px;
}

.real-esate .address-container-1 {
  margin-top: 16px;
  width: 226px;
}

.real-esate .address-9 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 226px;
}

.real-esate .address-10 {
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 116px;
  width: 195px;
}

.real-esate .x500-pcs-postcards-8 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4px;
  margin-top: 22px;
  min-height: 76px;
  width: 195px;
}

.real-esate .group-13 {
  align-items: flex-start;
  display: flex;
  height: 1097px;
  margin-left: 34px;
  min-width: 325px;
}

.real-esate .flex-col-4 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 15px;
  gap: 16px;
  margin-left: -1px;
  margin-top: -1px;
  min-height: 1099px;
  padding: 1px 0;
  width: 303px;
}

.real-esate .flex-col-5 {
  align-items: center;
  min-height: 546px;
  width: 301px;
}

.real-esate .overlap-group-1 {
  align-items: flex-end;
  background-color: var(--geebung);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  min-width: 301px;
  padding: 12px 103px;
}

.real-esate .surname {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  text-align: center;
  width: 91px;
}

.real-esate .advanced {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 23px;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 115px;
}

.real-esate .elevate-your-business {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 4.0px;
  margin-top: 11px;
  min-height: 25px;
  text-align: center;
  width: 175px;
}

.real-esate .price-2 {
  margin-right: 1.0px;
  margin-top: 31px;
  width: 180px;
}

.real-esate .overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--bay-of-many);
  border-radius: 10px;
  display: flex;
  height: 31px;
  margin-left: 12.0px;
  margin-top: 33px;
  min-width: 249px;
  padding: 2px 75px;
}

.real-esate .get-now-2 {
  min-height: 18px;
  white-space: nowrap;
  width: 80px;
}

.real-esate .everything-in-basic-plus-1 {
  margin-top: 32px;
}

.real-esate .flex-row-6 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  height: 81px;
  margin-right: 2.0px;
  margin-top: 20px;
  min-width: 267px;
}

.real-esate .address {
  letter-spacing: 0;
  line-height: normal;
  min-height: 81px;
  width: 238px;
}

.real-esate .flex-row-7 {
  align-items: flex-start;
  display: flex;
  gap: 13px;
  height: 103px;
  margin-right: 12.0px;
  margin-top: 7px;
  min-width: 257px;
}

.real-esate .address-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 103px;
  width: 227px;
}

.real-esate .flex-row-8 {
  align-items: center;
  display: flex;
  gap: 7px;
  height: 352px;
  margin-right: 2.0px;
  min-width: 267px;
}

.real-esate .done-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 13.0px;
  min-height: 323px;
  width: 20px;
}

.real-esate .done-9 {
  height: 15px;
  margin-left: 3px;
  margin-top: 77px;
  width: 17px;
}

.real-esate .flex-col-6 {
  align-items: flex-start;
  min-height: 352px;
  width: 240px;
}

.real-esate .address-container-2 {
  width: 240px;
}

.real-esate .address-11 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 240px;
}

.real-esate .address-12 {
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 116px;
  width: 213px;
}

.real-esate .smart-wetap-card-custom-pvc-card {
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 7px;
  margin-top: 16px;
  min-height: 46px;
  width: 195px;
}

.real-esate .span2-1 {
  color: var(--bay-of-many);
  font-weight: 200;
}

.real-esate .group-14 {
  align-items: flex-start;
  display: flex;
  height: 1045px;
  margin-left: 35px;
  margin-top: 57px;
  min-width: 325px;
}

.real-esate .overlap-group5 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  margin-top: -1px;
  min-height: 1047px;
  padding: 12px 13px;
  width: 303px;
}

.real-esate .premium {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  min-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 94px;
}

.real-esate .bring-your-business-to-new-hights {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 11px;
  min-height: 24px;
  text-align: center;
  width: 266px;
}

.real-esate .price-3 {
  margin-left: 4.0px;
  margin-top: 32px;
  width: 191px;
}

.real-esate .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--bay-of-many);
  border-radius: 10px;
  display: flex;
  height: 31px;
  margin-left: 12.0px;
  margin-top: 37px;
  min-width: 249px;
  padding: 4px 80px;
}

.real-esate .get-now-3 {
  min-height: 18px;
  white-space: nowrap;
  width: 89px;
}

.real-esate .everything-in-basic-plus-2 {
  margin-top: 28px;
}

.real-esate .flex-row-9 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 12px;
  height: 81px;
  margin-top: 21px;
  min-width: 267px;
}

.real-esate .flex-row-10 {
  align-items: flex-start;
  display: flex;
  gap: 13px;
  height: 103px;
  margin-top: 7px;
  min-width: 257px;
}

.real-esate .flex-row-11 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 10px;
  height: 117px;
  margin-top: 16px;
  min-width: 267px;
}

.real-esate .address-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 117px;
  width: 240px;
}

.real-esate .flex-row-12 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 10px;
  height: 117px;
  margin-top: 5px;
  min-width: 267px;
}

.real-esate .flex-row-13 {
  align-items: flex-start;
  display: flex;
  gap: 14px;
  height: 76px;
  margin-right: 13.0px;
  min-width: 244px;
}

.real-esate .done-6 {
  height: 15px;
  margin-top: 10px;
  width: 17px;
}

.real-esate .address-13 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 76px;
  width: 213px;
}

.real-esate .flex-row-14 {
  align-items: flex-start;
  display: flex;
  gap: 14px;
  height: 76px;
  margin-right: 31.0px;
  margin-top: 22px;
  min-width: 226px;
}

.real-esate .x1000-pcs-postcards-8 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 76px;
  width: 195px;
}

.real-esate .flex-row-15 {
  align-items: flex-start;
  display: flex;
  gap: 14px;
  height: 81px;
  margin-left: 5.0px;
  margin-top: 16px;
  min-width: 256px;
}

.real-esate .smart-wetap-card-cus {
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 81px;
  width: 225px;
}

.real-esate .not-sure-which-packa {
  color: var(--masala);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 0.27px;
  margin-top: 61px;
  min-height: 69px;
  text-align: center;
  transform: rotate(0.13deg);
  width: 994px;
}

.real-esate .upgrade-your-bundle {
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1px;
  min-height: 45px;
  min-width: 658px;
}

.real-esate .span-2 {
  color: var(--black);
  font-weight: 200;
}

.real-esate .span-3 {
  color: var(--blueberry);
  font-weight: 200;
}

.real-esate .span4 {
  color: var(--geebung);
  font-weight: 700;
}

.real-esate .flex-row-16 {
  align-items: flex-start;
  display: flex;
  height: 1471px;
  margin-left: 8.0px;
  margin-top: 130px;
  min-width: 1526px;
}

.real-esate .flex-col-7 {
  align-items: center;
  min-height: 1471px;
  width: 475px;
}

.real-esate .f-pro-flyers {
  background-image: url(../img/property-1-default@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 383px;
  margin-right: 2.0px;
  width: 473px;
}

.real-esate .refresh {
  flex: 1;
  width: 60px;
}

.real-esate .propertie-flyer {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 22px;
  min-height: 35px;
  white-space: nowrap;
  width: 271px;
}

.real-esate .f-banner {
  background-image: url(../img/rectangle-130.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 383px;
  margin-right: 2.0px;
  margin-top: 77px;
  width: 473px;
}

.real-esate .feature-sheet {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 62.0px;
  margin-top: 11px;
  min-height: 35px;
  white-space: nowrap;
  width: 237px;
}

.real-esate .f-flags {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 79px;
  min-width: 473px;
}

.real-esate .overlap-group6 {
  background-image: url(../img/featherflag2-1-1@2x.png);
  background-size: 100% 100%;
  height: 383px;
  position: relative;
  width: 479px;
}

.real-esate .refresh-2 {
  height: 48px;
  left: 382px;
  position: absolute;
  top: 27px;
  width: 60px;
}

.real-esate .rectangle-122 {
  border: 1px solid;
  border-color: var(--masala);
  border-radius: 10px;
  height: 383px;
  left: 0;
  position: absolute;
  top: 0;
  width: 473px;
}

.real-esate .feather-flages {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 24.0px;
  margin-top: 28px;
  min-height: 35px;
  white-space: nowrap;
  width: 271px;
}

.real-esate .flex-col-8 {
  align-items: center;
  margin-left: 50px;
  min-height: 1466px;
  width: 486px;
}

.real-esate .f-pull-up {
  align-self: flex-start;
  background-image: url(../img/rectangle-129.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 383px;
  width: 473px;
}

.real-esate .pull-up-banner {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 13.0px;
  margin-top: 23px;
  min-height: 34px;
  white-space: nowrap;
  width: 253px;
}

.real-esate .f-riders {
  display: flex;
  height: 383px;
  margin-left: 9.0px;
  margin-top: 81px;
  width: 473px;
}

.real-esate .frame-4 {
  background-image: url(../img/frame-4-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 473px;
}

.real-esate .refresh-3 {
  height: 60px;
  margin-left: 388px;
  margin-top: 28px;
  width: 60px;
}

.real-esate .riders {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 17.0px;
  margin-top: 7px;
  min-height: 35px;
  white-space: nowrap;
  width: 119px;
}

.real-esate .f-yard-sign {
  align-self: flex-end;
  background-image: url(../img/image-41.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 383px;
  margin-top: 79px;
  width: 473px;
}

.real-esate .yard-signs {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 53.0px;
  margin-top: 24px;
  min-height: 34px;
  white-space: nowrap;
  width: 189px;
}

.real-esate .flex-col-9 {
  align-items: center;
  margin-left: 40px;
  min-height: 1467px;
  width: 475px;
}

.real-esate .f-door-h-angers {
  background-image: url(../img/image-18.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 383px;
  margin-right: 2.0px;
  width: 473px;
}

.real-esate .door-hangers {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  margin-top: 22px;
  min-height: 31px;
  white-space: nowrap;
  width: 225px;
}

.real-esate .f-key {
  background-image: url(../img/image-28-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 383px;
  margin-right: 2.0px;
  margin-top: 72px;
  width: 473px;
}

.real-esate .custom-giant-key {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 3.0px;
  margin-top: 20px;
  min-height: 35px;
  white-space: nowrap;
  width: 310px;
}

.real-esate .f-a-frame-sign {
  background-image: url(../img/rectangle-123.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 383px;
  margin-left: 2.0px;
  margin-top: 91px;
  width: 473px;
}

.real-esate .a-frame-signs {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 67.0px;
  margin-top: 16px;
  min-height: 31px;
  white-space: nowrap;
  width: 268px;
}

.real-esate .fold-container {
  align-items: flex-start;
  display: flex;
  gap: 35px;
  margin-right: 1.03px;
  margin-top: 79px;
  min-width: 1535px;
}

.real-esate .f-2-fold {
  align-items: flex-start;
  background-image: url(../img/image-43.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 312px;
  justify-content: flex-end;
  min-width: 750px;
  padding: 13px 0.0px;
}

.real-esate .refresh-1 {
  height: 43px;
  width: 41px;
}

.real-esate .f-3fold {
  align-items: flex-start;
  background-image: url(../img/image-38.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 312px;
  justify-content: flex-end;
  min-width: 750px;
  padding: 13px 0.0px;
}

.real-esate .brochures-container {
  align-items: flex-start;
  display: flex;
  gap: 499px;
  height: 35px;
  margin-right: 1.0px;
  margin-top: 20px;
  min-width: 1081px;
}

.real-esate .brochures-bi-fold {
  letter-spacing: 0;
  line-height: normal;
  min-height: 35px;
  white-space: nowrap;
  width: 285px;
}

.real-esate .brochures-tri-fold {
  letter-spacing: 0;
  line-height: normal;
  min-height: 35px;
  white-space: nowrap;
}

.real-esate .frame-14 {
 display: flex;
  justify-content: space-between; /* Ensures equal spacing */
  align-items: center;
  flex-wrap: wrap; /* Makes it responsive */
  background: linear-gradient(180deg, rgba(32, 51, 134, 0.5) 0%, rgba(201, 206, 227, 0.5) 100%);
  padding: 40px 60px;
  width: 100%; /* Ensures it takes the full width */
  height: auto; /* Adjusts height based on content */
  position: absolute;
  top: 4860px;
  width: 1728px;
}

.real-esate .flex-col-10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2.0px;
  min-height: 213px;
  width: auto;
}

.real-esate .image-7 {
  height: 108px;
  margin-right: 31.0px;
  object-fit: cover;
  width: 120px;
}

.real-esate .infoprintontariocom {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 25px;
  min-height: 36px;
  min-width: 279px;
}

.real-esate .text-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 31.0px;
  margin-top: 8px;
  min-height: 36px;
  min-width: 202px;
}

.real-esate .flex-col-11 {
    margin-bottom: 4.0px;
  margin-left: 300px;
  min-height: 150px;
  width: 170px;
  gap: 7px;
  display: flex;
  flex-direction: column;
}

.real-esate .social {
  letter-spacing: 0;
  line-height: normal;
  min-height: 46px;
  width: 113px;
}

.real-esate .facebook {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 18px;
  min-height: 31px;
  width: 165px;
}

.real-esate .instagram {
   letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  width: 165px;
}

.real-esate .pinterest {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  width: 165px;
}

.real-esate .tik-tok {
 letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  width: 165px;
}

.real-esate .flex-col-12 {
 margin-left: 85px;
  min-height: 229px;
  width: 295px;
    gap: 7px;
  display: flex;
  flex-direction: column;
}


.real-esate .place-2 {
   cursor: pointer;
  margin-top: 8px;
  min-height: 27px;
  white-space: nowrap;
}

.real-esate .business-card-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 25px;
  min-height: 31px;
  white-space: nowrap;
}

.real-esate .signs-banners-posters-2 {
  cursor: pointer;
  margin-top: 8px;
  min-height: 31px;
  white-space: nowrap;
}

.real-esate .promotional-products-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  white-space: nowrap;
}

.real-esate .real-estate-products-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 31px;
  width: 250px;
}

.real-esate .flex-col-13 {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  margin-top: 10px;
  min-height: 160px;
  width: 269px;
  gap: 7px;
  display: flex;
  flex-direction: column;
}

.real-esate .company {
 letter-spacing: 0;
  line-height: normal;
  min-height: 40px;
  width: 183px;
}

.real-esate .about-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 14px;
  min-height: 27px;
  white-space: nowrap;
}

.real-esate .shipping-and-returns {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8px;
  min-height: 27px;
  white-space: nowrap;
}

.real-esate .payment-methods {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 10px;
  min-height: 36px;
  width: 269px;
}

.real-esate .group-54 {
  align-items: flex-start;
  display: flex;
  min-width: 1728px;
}

.real-esate .overlap-group8 {
  height: 83px;
  position: relative;
  width: 1728px;
}

.real-esate .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 648px;
  height: 83px;
  left: 0;
  min-width: 1728px;
  padding: 18px 128px;
  position: absolute;
  top: 0;
}

.real-esate .all-rights-reserved {
  align-self: center;
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 13px;
  white-space: nowrap;
  width: 430px;
}

.real-esate .span0-1 {
  color: var(--black);
}

.real-esate .span1-2 {
  color: var(--blueberry);
}

.real-esate .group-43 {
  display: flex;
  gap: 72px;
  width: 162px;
}

.real-esate .group-43-item {
  height: 45px;
  width: 45px;
}

.real-esate .tik-tok-1 {
  height: 45px;
  left: 1545px;
  position: absolute;
  top: 18px;
  width: 45px;
}

.real-esate .pinterest-1 {
  height: 45px;
  left: 1433px;
  position: absolute;
  top: 18px;
  width: 45px;
}

.real-esate .address-container-3 {
  height: 192px;
  position: relative;
}

.real-esate .component {
  display: flex;
  min-width: 1539px;
}

.real-esate .everything-in-basic-plus-3 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 19px;
  min-height: 20px;
  text-align: center;
  width: 169px;
}

.real-esate .flex-col-14 {
  display: flex;
  flex-direction: column;
}

.real-esate .get-now-4 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.real-esate .place-3 {
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.real-esate .price-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 65px;
  text-align: center;
  white-space: nowrap;
}

.real-esate .real-estate-products-3 {
  letter-spacing: 0;
  line-height: normal;
}

.real-esate .signs-banners-posters-3 {
  letter-spacing: 0;
  line-height: normal;
}
